html, body {
    height:100%
}

button {
    margin: 0 0 10px 0;
}

#container {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    align-content: end;
    margin: 0;
    height:90%;
}

#header {
    display: flex;
    direction: row;
    min-height:50px;
    align-content: center;
    vertical-align: center;
}